<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="display: flex; flex-direction: column;align-items: center; background-color: #4BFFCD;">
    <a href="/">
        <h1>Quay về trang chủ</h1>
    </a>

    <div style="width: 40%; text-align: center; ">
        <div style="width: 100%; height: 450px;float: left; background-color: white;margin-left: 5px;">
            <img src="<%=data.anhDaiDien%>" style="width: 400px;height: 380px; margin-top: 10px;" />
            <br>
            <a href="/<%=data.maCongTy%>">Tên công ty : <%=data.tenCongTy%> </a>
        </div>
    </div>

    <br>
    <h2>Danh sách sản phẩm</h2>

    <div style="width: 80%; text-align: center; ">
        <%if(data.sanPhams){%>
            <%data.sanPhams.forEach(item=>{%>
                <div style=" width: 40%; height: 450px;float: left; background-color: white;margin-left: 5px;">
                    <img src="<%=item.anhSanPham%>" style="width: 400px;height: 380px; margin-top: 10px;" />
                    <br>
                    <a href="#">Tên sản phẩm : <%=item.tenSanPham%> </a>
                </div>
                <%})%>

                    <%} else {%>
                        <h3>Chưa có sản phẩm nào</h3>
                        <%}%>

    </div>
</body>

</html>